In [10]:
import pandas as pd

In [11]:
#Worldwide
data = [['15/07/2021', '1867,62,453'], ['16/07/2021', '1874,42,453'], ['17/07/2021', '1881,32,493'], ['18/07/2021', '1888,40,943'], ['19/07/2021', '1785,80,927'], ['20/07/2021', '1894,99,236'], ['21/07/2021', '1901,87,216'], ['22/07/2021', '1907,56,764'], ['23/07/2021', '1913,04,660'], ['24/07/2021', '1919,20,383']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of confirmed cases worldwide'], index = [1,2,3,4,5,6,7,8,9,10])

In [12]:
df

          Date Predicted number of confirmed cases worldwide
1   15/07/2021                                   1867,62,453
2   16/07/2021                                   1874,42,453
3   17/07/2021                                   1881,32,493
4   18/07/2021                                   1888,40,943
5   19/07/2021                                   1785,80,927
6   20/07/2021                                   1894,99,236
7   21/07/2021                                   1901,87,216
8   22/07/2021                                   1907,56,764
9   23/07/2021                                   1913,04,660
10  24/07/2021                                   1919,20,383

In [32]:
#India
data = [['15/07/2021', '309,04,734'], ['16/07/2021', '309,22,827'], ['17/07/2021', '309,41,583'], ['18/07/2021', '309,59,146'], ['19/07/2021', '309,74,471'], ['20/07/2021', '309,93,018'], ['21/07/2021', '310,09,561'], ['22/07/2021', '310,28,517'], 
        ['23/07/2021', '310,45,391'], ['24/07/2021', '310,57,778']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [33]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                          309,04,734
2   16/07/2021                          309,22,827
3   17/07/2021                          309,41,583
4   18/07/2021                          309,59,146
5   19/07/2021                          309,74,471
6   20/07/2021                          309,93,018
7   21/07/2021                          310,09,561
8   22/07/2021                          310,28,517
9   23/07/2021                          310,45,391
10  24/07/2021                          310,57,778

In [34]:
#US
data = [['15/07/2021', '339,15,051'], ['16/07/2021', '339,38,105'], ['17/07/2021', '339,62,666'], ['18/07/2021', '339,82,920'], ['19/07/2021', '340,09,432'], ['20/07/2021', '340,30,968'], ['21/07/2021', '340,52,531'], ['22/07/2021', '340,79,072'], ['23/07/2021', '341,01,635'], ['24/07/2021', '341,26,204']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [35]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                          339,15,051
2   16/07/2021                          339,38,105
3   17/07/2021                          339,62,666
4   18/07/2021                          339,82,920
5   19/07/2021                          340,09,432
6   20/07/2021                          340,30,968
7   21/07/2021                          340,52,531
8   22/07/2021                          340,79,072
9   23/07/2021                          341,01,635
10  24/07/2021                          341,26,204

In [30]:
#China
data = [['15/07/2021', '1,19,443'], ['16/07/2021', '1,19,843'], ['17/07/2021', '1,20,165'], ['18/07/2021', '1,20,543'], ['19/07/2021', '1,20,843'], ['20/07/2021', '1,21,243'], ['21/07/2021','1,21,456'], ['22/07/2021', '1,21,601'], ['23/07/2021', '1,21,982'], ['24/07/2021', '1,22,268']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [31]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                            1,19,443
2   16/07/2021                            1,19,843
3   17/07/2021                            1,20,165
4   18/07/2021                            1,20,543
5   19/07/2021                            1,20,843
6   20/07/2021                            1,21,243
7   21/07/2021                            1,21,456
8   22/07/2021                            1,21,601
9   23/07/2021                            1,21,982
10  24/07/2021                            1,22,268

In [48]:
#France
data = [['15/07/2021', '58,85,698'], ['16/07/2021', '58,10,267'], ['17/07/2021', '59,38,116'], ['18/07/2021', '59,65,965'], ['19/07/2021', '59,87,693'], ['20/07/2021', '60,07,530'], ['21/07/2021','60,25,924'], ['22/07/2021', '60,42,298'], ['23/07/2021', '60,59,763'], ['24/07/2021', '60,74,999']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [49]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                           58,85,698
2   16/07/2021                           58,10,267
3   17/07/2021                           59,38,116
4   18/07/2021                           59,65,965
5   19/07/2021                           59,87,693
6   20/07/2021                           60,07,530
7   21/07/2021                           60,25,924
8   22/07/2021                           60,42,298
9   23/07/2021                           60,59,763
10  24/07/2021                           60,74,999

In [50]:
#Brazil
data = [['15/07/2021', '190,69,528'], ['16/07/2021', '191,04,075'], ['17/07/2021', '191,49,714'], ['18/07/2021', '191,99,997'], ['19/07/2021', '192,45,665'], ['20/07/2021', '192,90,911'], ['21/07/2021','193,31,394'], ['22/07/2021', '193,97,778'], ['23/07/2021', '194,41,683'], ['24/07/2021', '194,81,513']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [51]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                          190,69,528
2   16/07/2021                          191,04,075
3   17/07/2021                          191,49,714
4   18/07/2021                          191,99,997
5   19/07/2021                          192,45,665
6   20/07/2021                          192,90,911
7   21/07/2021                          193,31,394
8   22/07/2021                          193,97,778
9   23/07/2021                          194,41,683
10  24/07/2021                          194,81,513

In [44]:
#Turkey
data = [['15/07/2021', '55,35,698'], ['16/07/2021', '55,38,267'], ['17/07/2021', '55,42,116'], ['18/07/2021', '55,45,965'], ['19/07/2021', '55,51,693'], ['20/07/2021', '55,53,530'], ['21/07/2021','55,57,924'], ['22/07/2021', '55,60,298'], ['23/07/2021', '55,63,763'], ['24/07/2021', '55,65,999']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [45]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                           55,35,698
2   16/07/2021                           55,38,267
3   17/07/2021                           55,42,116
4   18/07/2021                           55,45,965
5   19/07/2021                           55,51,693
6   20/07/2021                           55,53,530
7   21/07/2021                           55,57,924
8   22/07/2021                           55,60,298
9   23/07/2021                           55,63,763
10  24/07/2021                           55,65,999

In [42]:
#Russia
data = [['15/07/2021', '58,35,698'], ['16/07/2021', '58,38,267'], ['17/07/2021', '58,42,116'], ['18/07/2021', '58,45,965'], ['19/07/2021', '58,51,693'], ['20/07/2021', '58,53,530'], ['21/07/2021','58,57,924'], ['22/07/2021', '58,60,298'], ['23/07/2021', '58,63,763'], ['24/07/2021', '58,65,999']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [43]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                           58,35,698
2   16/07/2021                           58,38,267
3   17/07/2021                           58,42,116
4   18/07/2021                           58,45,965
5   19/07/2021                           58,51,693
6   20/07/2021                           58,53,530
7   21/07/2021                           58,57,924
8   22/07/2021                           58,60,298
9   23/07/2021                           58,63,763
10  24/07/2021                           58,65,999

In [40]:
#UK
data = [['15/07/2021', '5,121,698'], ['16/07/2021', '5,154,267'], ['17/07/2021', '5,183,010'], ['18/07/2021', '5,212,876'], ['19/07/2021', '5,244,193'], ['20/07/2021', '5,285,530'], ['21/07/2021','5,326,924'], ['22/07/2021', '5,367,298'], ['23/07/2021', '5,389,763'], ['24/07/2021', '5,440,999']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [41]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                           5,121,698
2   16/07/2021                           5,154,267
3   17/07/2021                           5,183,010
4   18/07/2021                           5,212,876
5   19/07/2021                           5,244,193
6   20/07/2021                           5,285,530
7   21/07/2021                           5,326,924
8   22/07/2021                           5,367,298
9   23/07/2021                           5,389,763
10  24/07/2021                           5,440,999

In [38]:
#Italy
data = [['15/07/2021', '4,279,698'], ['16/07/2021', '4,280,267'], ['17/07/2021', '4,281,010'], ['18/07/2021', '4,282,876'], ['19/07/2021', '4,284,193'], ['20/07/2021', '4,285,530'], ['21/07/2021','4,286,924'], ['22/07/2021', '4,287,298'], ['23/07/2021', '4,289,763'], ['24/07/2021', '4,290,999']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [39]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                           4,279,698
2   16/07/2021                           4,280,267
3   17/07/2021                           4,281,010
4   18/07/2021                           4,282,876
5   19/07/2021                           4,284,193
6   20/07/2021                           4,285,530
7   21/07/2021                           4,286,924
8   22/07/2021                           4,287,298
9   23/07/2021                           4,289,763
10  24/07/2021                           4,290,999

In [36]:
#Argentina
data = [['15/07/2021', '4,639,098'], ['16/07/2021', '4,645,267'], ['17/07/2021', '4,651,010'], ['18/07/2021', '4,655,876'], ['19/07/2021', '4,660,193'], ['20/07/2021', '4,663,530'], ['21/07/2021','4,667,924'], ['22/07/2021', '4,671,298'], ['23/07/2021', '4,674,763'], ['24/07/2021', '4,768,999']]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Date', 'Predicted number of Confirmed Cases'], index = [1,2,3,4,5,6,7,8,9,10])

In [37]:
df

          Date Predicted number of Confirmed Cases
1   15/07/2021                           4,639,098
2   16/07/2021                           4,645,267
3   17/07/2021                           4,651,010
4   18/07/2021                           4,655,876
5   19/07/2021                           4,660,193
6   20/07/2021                           4,663,530
7   21/07/2021                           4,667,924
8   22/07/2021                           4,671,298
9   23/07/2021                           4,674,763
10  24/07/2021                           4,768,999